In [26]:
import pandas as pd


# 1 Limpiando data

In [27]:
df_data_historica = pd.read_csv('data/fifa_worldcup_matches.csv')
df_data_historica 

df_data_fixture = pd.read_csv('data/fifa_worldcup_fixture.csv')
df_data_fixture 

df_data_missing = pd.read_csv('data/fifa_worldcup_missing_data.csv')
df_data_missing

              home score           away  year
0          Mexico    0–0   Soviet Union  1970
1         Belgium    3–0    El Salvador  1970
2    Soviet Union    4–1        Belgium  1970
3          Mexico    4–0    El Salvador  1970
4    Soviet Union    2–0    El Salvador  1970
..             ...   ...            ...   ...
503         Spain    0–1    Switzerland  2010
504         Chile    1–0    Switzerland  2010
505         Spain    2–0       Honduras  2010
506         Chile    1–2          Spain  2010
507   Switzerland    0–0       Honduras  2010

[508 rows x 4 columns]

## 1.1 Limpiar espacios en blanco fixture

In [34]:
df_data_fixture['home'] = df_data_fixture['home'].str.strip()
df_data_fixture['away'] = df_data_fixture['away'].str.strip()